.storagePokemonDisplay {
    position: relative;
    padding: 0.7rem;
}

.storageLocationInput {
    border: 2px solid #071452;
    width: clamp(4rem, 15vw, 10rem);
    margin-left: 0.7rem;
    font-Size: 0.9rem;
}

.storagePopUpMenu{
    width: 15rem;
    border: 2px solid #f4ecff;
    border-radius: 7px;
    background-color: #5171ca;
    flex-direction: column;
    align-items: center;
}

.storagePopUpMenu input {
    width: 80%;
    padding: 5px;
    margin: 5px;
    border: 2px solid #433e84;
}

.storagePopUpMenuBtns {
    display: flex;
    gap: 25px;
    padding: 5px;
}

.storagePopUpMenuBtns button {
    padding: 0.2rem 0.5rem;
    min-width: 4.5rem;
    font-size: 1rem;
    border: 2px solid #433e84;
    border-radius: 5px;
}

.storagePopUpMenuBtns button:first-child {
    background-color: #ee6565;
}

.storagePopUpMenuBtns button:last-child {
    background-color: #39c639;
}

.storageSelectWrapper {
    width: 12em;
    margin-top: 10px;
}

input {
    padding: 6px;
    border-radius: 12px;
}

input:focus::placeholder {
    color: transparent;
}


button:hover {
    cursor: pointer;
}

.storageNicknames {
    text-align: left;
    width: clamp(3rem, 10vw, 10rem);
    color: #ffe604;
    font-size: 1.1rem;
    text-shadow:
        1px 1px 0 #000, /* Horizontal, Vertical, Blur radius, Color */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}

@media (max-width: 520px) {
    .storagePokemonDisplay button {
        width: 2rem;
        height: 2rem;
    }
}