.storagePokemonDisplay {
    /* border: 1px solid blue; */
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.storagePopUpMenu{
    width: 15rem;
    border: 2px solid #f4ecff;
    border-radius: 7px;
    background-color: #5171ca;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.storagePopUpMenu input {
    width: 80%;
    padding: 5px;
    margin: 5px;
}

.storagePopUpMenuBtns {
    display: flex;
    gap: 25px;
    padding: 5px;
}

.storageSelectWrapper {
    width: 12em;
    margin-top: 10px;
}

input {
    padding: 6px;
    border-radius: 12px;
}

input:focus::placeholder {
    color: transparent;
}


button:hover {
    cursor: pointer;
}

.storageNicknames {
    text-align: left;
    min-width: 13rem;
    color: #ffe604;
}

