.teamPokemonDisplay {
    position: relative;
    padding: 0.7rem;
}

.teamLocationInput{
    border: 2px solid #071452;
    width: clamp(6rem, 15vw, 10rem);
    margin-left: 0.7rem;
    font-Size: 0.9rem;
}


.teamPopUpMenu{
    width: 15rem;
    border: 2px solid #f4ecff;
    border-radius: 7px;
    background-color: #5171ca;
    flex-direction: column;
    align-items: center;
}

.teamPopUpMenu input {
    width: 80%;
    padding: 5px;
    margin: 5px;
    border: 2px solid #433e84;
}

.teamPopUpMenuBtns {
    display: flex;
    gap: 25px;
    padding: 5px;
}

.teamPopUpMenuBtns button {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    min-width: 4.5rem;
    border: 2px solid #362153;
    border-radius: 5px;
}

.teamPopUpMenuBtns button:first-child {
    background-color: #ee6565;
}

.teamPopUpMenuBtns button:last-child {
    background-color: #39c639;
}

.teamSelectWrapper {
    width: 12em;
    margin-top: 10px;
}

input {
    padding: 6px;
    border-radius: 12px;
}

input:focus::placeholder {
    color: transparent;
}


button:hover {
    cursor: pointer;
}

.teamNicknames {
    text-align: left;
    min-width: 10rem;
    color: #ffe604;
    font-size: 1.1rem;
    text-shadow:
        1px 1px 0 #000, /* Horizontal, Vertical, Blur radius, Color */
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}

