table {
    border: 1px solid red;
}

.tableContainer {
    /* border: 1px solid green; */
    display: flex;
    gap: 3rem;
}

.team {
    display: flex;
    flex-direction: column;
}

.storage {
    border: 1px solid blue;
}

th, td{
    padding: 8px;
    /* border: 1px solid red; */
}

.locationInput {
    font-size: 1rem;
}
.playersNameDisplay {
    width: 10rem;
}

.location {
    width: 10rem;
}

td{
    text-align: center;
}

tbody input {
    font-size: 1rem;
    width: 100%;
}

.playersNameInput {
    /* display: flex; */
    gap: 25px;
    border: 1px solid red;
}

.playersNameInput input {
    margin-bottom: 2rem;
    height: 2rem;
    font-size: 1rem;
}

/* .pokemonSearch {
    width: 10rem;
} */
