table {
    border-collapse: collapse;
}

.tableContainer {
    /* border: 1px solid green; */
    display: flex;
    gap: 3rem;
}

.team {
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 162, 177);
    border: 3px solid rgb(156, 156, 156);
    /* border-radius: 15px; */
    /* border: 1px solid blue; */
    /* border-radius: 15px; */
}

.storage {
    background-color: rgb(122, 209, 134);
    border: 3px solid rgb(133, 110, 35);
}

th, td{
    padding: 8px;
    text-align: center;

    /* border: 1px solid red; */
}

.locationInput {
    font-size: 1rem;
}

.playersNameDisplay {
    width: 10rem;
}

.location {
    width: 10rem;
}


tbody input {
    font-size: 1rem;
    width: 100%;
}

.playersNameInput {
    /* display: flex; */
    gap: 25px;
    /* border: 1px solid red; */
}

.playersNameInput input {
    margin-bottom: 2rem;
    height: 2rem;
    font-size: 1rem;
}

/* .pokemonSearch {
    width: 10rem;
} */
